<!DOCTYPE html>
<html>
<head>
    <title>Dashboard – Career Portal</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
</head>
<body>

<h2>📊 Student Responses</h2>

<p>
    Logged in as <b>{{ session.teacher }}</b>
    |
    <a href="/logout">Logout</a>
</p>
<table border="1" cellpadding="8">
<tr>
    <th>Name</th>
    <th>Class</th>
    <th>Stream</th>
    <th>Date</th>
    <th>Actions</th>
    <th>Download PDf</th>
    <th>Delete</th>
</tr>

{% for r in rows %}
<tr>
    <td>{{ r[1] }}</td>
    <td>{{ r[2] }}</td>
    <td>{{ r[3] }}</td>
    <td>{{ r[4] }}</td>
    <td>

        <!-- OPEN BUTTON -->
        <form action="/student/{{ r[0] }}" method="get" style="display:inline;">
            <button type="submit">Open</button>
        </form>

    </td>
    <td>
          <!-- PDF -->
        <a href="/report/{{ r[0] }}">
            <button>PDF</button>
        </a>
    </td>
    <td>
           <!-- DELETE -->
        <form action="/delete/{{ r[0] }}" method="post"
              onsubmit="return confirm('Delete this student?')"
              style="display:inline;">
            <button style="color:red;">Delete</button>
        </form>
    </td>
</tr>
{% endfor %}

</table>

</body>
</html>


