<!DOCTYPE html>
<html>
<head>
    <title>Teacher Login – Career Portal</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<div class="header">
🎓 Spark School – Career Counselling Portal
</div>
<form method="post" class="login-form">

    <h3>Teacher Login</h3>

    <label>Username</label>
    <input name="username" required>

    <label>Password</label>
    <input type="password" name="password" required>

    <button type="submit">Login</button>

</form>

</body>
</html>

